@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 0px;
}

@layer components {
    .message-block {
        @apply w-full flex;
    }

    .message-block.me {
        @apply justify-end;
    }

    .message-block.me .message {
        @apply items-end;
    }

    .message-block.other .message {
        @apply items-start;
    }

    .message-block.me blockquote {
        @apply bg-red;
    }
    
    .message-block.other blockquote {
        @apply bg-secondary;
    }

    .message-block.other {
        @apply justify-start;
    }

    .message-block .message {
        @apply flex flex-col mb-[2px] min-w-[10px] mdl:max-w-[80%] max-w-[50%];
    }

    .message-block.me .message .content {
        @apply bg-secondary rounded-l-md;
    }

    .message-block.other .message .content {
        @apply rounded-r-md;
    }

    .message-block .message .content {
        @apply bg-red p-3 break-all will-change-auto flex gap-6 items-center;
    }

    .message-block .message .status {
        @apply px-[10px] text-[12px] flex gap-2 items-center;
    }

    .message .content h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: revert !important;
        font-weight: revert !important;
    }

    .message-input-container {
        max-height: 150px; 
      }
      
      #message-input {
        min-height: 40px; 
        max-height: 100px; 
        overflow-y: scroll;
      }

    .message .content ul {
        list-style-type: disc !important;
        list-style-position: inside !important;
    }
    ol {
        list-style: decimal !important;
        list-style-position: inside !important;
    }
    ul ul,
    ol ul {
        list-style-type: circle !important;
        list-style-position: inside !important;
        margin-left: 15px !important;
    }
    ol ol,
    ul ol {
        list-style-type: lower-latin !important;
        list-style-position: inside !important;
        margin-left: 15px !important;
    }

    blockquote {
        @apply px-2 my-4 border-l-4 border-gray-600;
    }
}
